# Use this when docker-compose understands the syntax
#*
#!.git
#!docker
#!Dockerfile

#*#
*.egg-info
*.py[co]
*.swp
.apt-cache
.coverage
.dockerignore
.gitignore
.home
.noseids
.venv
LICENSE
README.rst
alembic
alembic.ini
bb.wsgi
bin
cover
data*
docs
example-bags
example-tests
frontend
include
lib
man
matplotlibrc
pysqlite2-doc
scripts
setup.cfg
share
src
users.txt
var
