#*#
*.egg-info
*.py[co]
*.swp
/.apt-cache
/.coverage
/.eggs
/.home/
/.nix-profile
/.noseids
/.pip
/.venv
/.wheelhouse
/bin
/build
/cover
/data
/include
/lib
/lib64
/local
/man
/pip-selfcheck.json
/pysqlite2-doc
/share
/var
