<div class="container apps">
    <div class="row">
        <div class="col-xs-6">
            {{#link-to 'bagbunker'}}
                <img class="img-responsive img-rounded" src="app/styles/images/bagbunker.jpg">
            {{/link-to}}
            {{#link-to 'bagbunker' class="btn btn-default btn-block"}}bagbunker{{/link-to}}
        </div>
    </div>
</div>
