setuptools-git  # for inclusion of package data
Flask-Cors
Flask-Login
Flask-Restless==0.17.0-45-fix
Flask-SQLAlchemy
Flask-Testing
Sphinx
alembic
click
coverage
flask-compress
ipdb
ipdbplugin
nose
psycopg2
py-bcrypt
pysqlite
pytz
testfixtures
