<--div class="row">
    <div class="col-xs-4">
        {{!view 'select'
            class="form-control"
            content=columns
            optionLabelPath="content.name"
            optionValuePath="content.key"
            value=model.name
        }}
    </div>
    <div class="col-xs-2">
        {{!view "select" class="form-control" content=operators value=model.op}}
    </div>
    <div class="col-xs-4">
        {{input class="form-control" value=model.val}}
    </div>
    <div class="col-xs-2">
        {{if valid "active"}}
    </div>
</div>
