<div class='input-group date'>
    {{input type='text' class="form-control" value=shadow}}
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
