[Unit]
Description=Bagbunker %I container
Requires=bagbunker-database@%I.service
After=bagbunker-database@%I.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a %I
ExecStop=/usr/bin/docker stop -t 60 %I

[Install]
WantedBy=multi-user.target
